footer, header {
    background-color: #52489c;
    color: white;
    text-align: center; 
    padding: 10px;
}
nav{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;

}
h1{
    font-size: 60px;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 5px 0;
    font-size: 16px;
}
a:visited {
  color: var(--accent-color);
}
.gallery img{
    margin: 0;
    object-fit: cover;
    height: 250px;
    width: 250px;
}
dialog img {
    width: 100%;
    height: auto;   
    display: block;
    margin: 0 auto;
}
.everything{
    flex-direction: column; 
    width: 100%;

}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--primary-font);
  font-size: 1.2em;
}
main{
    padding: 10px;
}
#menu-button {
    background: none; 
    border: none;
    color: inherit;
    font: inherit;
    padding: 0; 
    cursor: pointer; 
    text-decoration: underline;
}
.hide {
    display: none;
}
/* Hide menu links by default on small screens */
#menu-links {
    display: none;
    flex-direction: column;
    align-items: center;
}

/* Show menu links when .show is added */
#menu-links.show {
    display: flex;
}

/* Always show menu links on wider screens */
@media (min-width: 800px) {
    #menu-links {
        display: flex !important;
        flex-direction: row;
        gap: 20px;
    }
    #menu-button {
        display: none;
    }
}

@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
 :root {
 --primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: Mooli, san-serif;
 }
 @media (min-width: 800px) {
    nav {
        flex-direction: row;
        justify-content: center;
    }
    nav a {
        margin: 0 10px;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;
    }

    .gallery img {
        width: 100%; 
        height: auto; 
    }
    }
    @media (min-width: 1200px) {
        .gallery {
            grid-template-columns: repeat(3, 1fr);
        }
        nav a {
            margin: 0 40px;
    }
    #menu-button {
        display: none;
    }
}
dialog {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  padding: 0;
  z-index: 10;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}
dialog img {
  display: block;
  margin: 20vh auto;
  width: 90%;
  max-height: 100%;
}
.close-viewer {
  position: absolute;
  top: 20vh;
  right: 5vw;
  font-size: 2rem;
  background: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 11;
}
